body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;  
}

main {
  padding: 1rem;  
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

#colorPicker {
  width: 8rem;
  height: 2rem;
  border: 0ch;
  margin-bottom: 1rem;
}

.alert{
  display: none;
}

.container {
  border-style: solid;  
  border-color: rgb(53, 156, 148);
  border-radius: 0.50rem;
  margin-bottom: 1rem;   
  display: flex;  
  justify-content: center;

}

.teste{
  background-color: blue;
  background-image: ;
}